/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2022, 3:24:05 PM
    Author     : Dell
*/
.mini-user-ava{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.user-name{
    cursor: pointer;
}
.user-name:hover{
    color: #009da6;
    transition-duration: 1.2s;
}
.rating-star>div{
    display: inline;
}
.rating-star, .money{
    padding-left: 0px !important;
}
.url{
    cursor: pointer;
}
.status{
    width: 40px;
    height: 20px;
    background-color: #009da6;    
    padding:0px!important;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 25px;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #009da6; 
}
.status-circle{
    margin: 0px 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f0f0f0;
}
.table-data .disabled{
    justify-content: flex-start; 
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.table-data .disabled .status-circle{
    background-color: rgba(0, 0, 0, 0.25);
}
