/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2022, 3:24:05 PM
    Author     : Dell
*/
.mini-user-ava{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.user-name{
    margin-top: 0px !important;
    color: #333 !important;
    cursor: pointer;
}
.user-name:hover{
    color: #009da6!important;
    transition-duration: 1.2s;
}
.rating-star>div{
    display: inline;
}
.rating-star, .money{
    padding-left: 0px !important;
}
#categories .rating-star{
    padding-top:0px;
}
.url{
    cursor: pointer;
}
.status{
    width: 40px;
    height: 20px;
    background-color: #009da6;    
    padding:0px!important;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 25px;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #009da6; 
}
.status-circle{
    margin: 0px 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f0f0f0;
}
.table-data .disabled{
    justify-content: flex-start; 
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.table-data .disabled .status-circle{
    background-color: rgba(0, 0, 0, 0.25);
}
.profile-img{
    max-width: 100%;
    height: auto;
}
#profile .profile-header{
    background-color: #b0e1e3;
    color: #009da6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 24px;
}
#profile h5{
    margin: 0;
    padding: 10px 20px ;
}
#profile h6{
    margin: 0;
    padding: 10px 20px;
    padding-top: 0px;
}
#profile .profile-value{
    padding-top: 24px;
    color: #333 !important;
    font-size: 21px;  
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-family: 'CircularStd', sans-serif;
}
#profile .profile-item{
    color: #757575 !important;
    font-size: 14.8px;
    font-weight: 500;
    font-family: 'CircularStd', sans-serif;
    padding-bottom: 14px;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#admin-ava{
    margin-top: -30px;
}
#admin-ava img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    padding: 0.25rem;
    background-color: #fff;
}
#btn-view-prf{
    background-color: #009DA6;
    border: 1px solid #009DA6;
    color: #fff;
    font-size: 14px !important;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    font-weight: 600;
    margin-left: 20px;
}
#members .row:first-child,
#appointments .row:first-child,
#mentoringpoints .row:first-child{
    padding: 20px;
    justify-content: space-between;
}
#members .row,
#appointments .row,
#mentoringpoints .row{
    padding: 0px 20px;
    justify-content: flex-start;
}
#members .big-num,
#appointments .big-num,
#mentoringpoints .big-num{
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.btn-add{
    background-color: #f0f0f0;
}
.btn-add:hover{
    border: 1px solid #009DA6;
}
.dialog-content form{
    padding: 20px;
}