<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.common.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtpController</servlet-name>
        <servlet-class>controller.common.ValidateOtpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordController</servlet-name>
        <servlet-class>controller.common.NewPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.common.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.common.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.blog.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogByAuthorController</servlet-name>
        <servlet-class>controller.blog.BlogByAuthorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorDetailController</servlet-name>
        <servlet-class>controller.mentor.MentorDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.home.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogCreateController</servlet-name>
        <servlet-class>controller.blog.BlogCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogController</servlet-name>
        <servlet-class>controller.blog.EditBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseListController</servlet-name>
        <servlet-class>controller.course.CourseListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseByMentorController</servlet-name>
        <servlet-class>controller.course.CourseByMentorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseTopRateController</servlet-name>
        <servlet-class>controller.course.CourseTopRateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorListController</servlet-name>
        <servlet-class>controller.mentor.MentorListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorBestRateController</servlet-name>
        <servlet-class>controller.mentor.MentorTopRateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailController</servlet-name>
        <servlet-class>controller.course.CourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.blog.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCourseController</servlet-name>
        <servlet-class>controller.home.MyCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollCourseController</servlet-name>
        <servlet-class>controller.home.EnrollCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccomplishmentController</servlet-name>
        <servlet-class>controller.home.MyAccomplishmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateController</servlet-name>
        <servlet-class>controller.home.CertificateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPurchaseController</servlet-name>
        <servlet-class>controller.home.MyPurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorRegisterController</servlet-name>
        <servlet-class>controller.mentor.MentorRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonDetailController</servlet-name>
        <servlet-class>controller.lesson.LessonDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalLessonController</servlet-name>
        <servlet-class>controller.lesson.TotalLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackController</servlet-name>
        <servlet-class>controller.feedback.SendFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizDetailController</servlet-name>
        <servlet-class>controller.lesson.QuizDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyFeedbackController</servlet-name>
        <servlet-class>controller.home.MyFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseTrendingController</servlet-name>
        <servlet-class>controller.course.CourseTrendingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogController</servlet-name>
        <servlet-class>controller.blog.DeleteBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeebackController</servlet-name>
        <servlet-class>controller.feedback.DeleteFeebackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseController</servlet-name>
        <servlet-class>controller.course.SearchCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentorController</servlet-name>
        <servlet-class>controller.mentor.SearchMentorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogController</servlet-name>
        <servlet-class>controller.blog.SearchBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizResultController</servlet-name>
        <servlet-class>controller.lesson.QuizResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizInfoController</servlet-name>
        <servlet-class>controller.lesson.QuizInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCategoryController</servlet-name>
        <servlet-class>controller.course.SearchByCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtpController</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordController</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/BlogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogByAuthorController</servlet-name>
        <url-pattern>/BlogByAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorDetailController</servlet-name>
        <url-pattern>/MentorDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogCreateController</servlet-name>
        <url-pattern>/BlogCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogController</servlet-name>
        <url-pattern>/EditBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseListController</servlet-name>
        <url-pattern>/CourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseByMentorController</servlet-name>
        <url-pattern>/CourseByMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseTopRateController</servlet-name>
        <url-pattern>/CourseTopRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorListController</servlet-name>
        <url-pattern>/MentorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorBestRateController</servlet-name>
        <url-pattern>/MentorBestRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailController</servlet-name>
        <url-pattern>/CourseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCourseController</servlet-name>
        <url-pattern>/MyCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollCourseController</servlet-name>
        <url-pattern>/EnrollCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccomplishmentController</servlet-name>
        <url-pattern>/MyAccomplishment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateController</servlet-name>
        <url-pattern>/Certificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPurchaseController</servlet-name>
        <url-pattern>/MyPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorRegisterController</servlet-name>
        <url-pattern>/MentorRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonDetailController</servlet-name>
        <url-pattern>/LessonDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalLessonController</servlet-name>
        <url-pattern>/TotalLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackController</servlet-name>
        <url-pattern>/SendFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizDetailController</servlet-name>
        <url-pattern>/QuizDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyFeedbackController</servlet-name>
        <url-pattern>/MyFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseTrendingController</servlet-name>
        <url-pattern>/CourseTrending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeebackController</servlet-name>
        <url-pattern>/DeleteFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogController</servlet-name>
        <url-pattern>/DeleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseController</servlet-name>
        <url-pattern>/SearchCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentorController</servlet-name>
        <url-pattern>/SearchMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogController</servlet-name>
        <url-pattern>/SearchBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizResultController</servlet-name>
        <url-pattern>/QuizResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizInfoController</servlet-name>
        <url-pattern>/QuizInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCategoryController</servlet-name>
        <url-pattern>/SearchByCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
