/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2022, 9:43:06 PM
    Author     : DELL
*/
.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

.header .header-left,
.header .header-right,
.header #search,
.header #minimize,
.header #appendix,
.header #appendix div {
    display: inline-block;
}

.header .header-left {
    background-color: #2a3042;
    width: 250px;
    padding: 10px 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #6c707b;
}

.header .header-right {
    background-color: #ffffff;
    position: absolute;
    height: 65.67px;
    width: calc(100vw - 250px);
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid #6c707b;
}

.header-right svg {
    padding: 13px 0px;
}

.header img {
    width: 200px;
}

.header #minimize {
    cursor: pointer;
    width: 50px;
}

.header #search {
    padding: 10px 10px;
    background-color: #f8f8fb;
    border-radius: 25px;
    position: absolute;
}

.header #appendix {
    padding: 10px 10px;
    position: absolute;
    right: 20px;
}

.header #search svg {
    position: absolute;
    top: 0px;
    right: 15px;
    fill: #b4b4b4;
}

.header input {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header input:focus {
    outline: none;
}