/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2022, 12:02:25 AM
    Author     : Dell
*/
#page {
    position: absolute;
    background-color: #f8f8fb;
    z-index: 1;
    top: 0px;
    left: 250px;
    width: calc(100% - 250px);
    min-height: calc(100vh);
    padding: 10px;
    padding-top: 70px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
#page .page-title{
    font-size: 28px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
}
#page .page-navigation{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 20px;
    padding-bottom: 20px;
}
#page .page-navigation .dist{
    color: #6c757d;
}
#page .page-navigation>div{
    display: inline;
}
#page .component {
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 8px 13px 0 rgb(82 63 105 / .05);
    min-height: 150px;
    min-width: 260px;
    background-color: #fff;
    margin: 10px;
}

#page .row {
    display: flex;
}


#page .col-1 {
    width: calc(100% / 12 * 1 - 5px);
}

#page .col-2 {
    width: calc(100% / 12 * 2 - 5px);
}

#page .col-3 {
    width: calc(100% / 12 * 3 - 5px);
}

#page .col-4 {
    width: calc(100% / 12 * 4 - 5px);
}

#page .col-5 {
    width: calc(100% / 12 * 5 - 5px);
}

#page .col-6 {
    width: calc(100% / 12 * 6 - 5px);
}

#page .col-7 {
    width: calc(100% / 12 * 7 - 5px);
}

#page .col-8 {
    width: calc(100% / 12 * 8 - 5px);
}

#page .col-9 {
    width: calc(100% / 12 * 9 - 5px);
}

#page .col-10 {
    width: calc(100% / 12 * 10 - 5px);
}

#page .col-11 {
    width: calc(100% / 12 * 11 - 5px);
}

#page .col-12 {
    width: calc(100% - 10px);
}